@font-face {
  font-family: "iconfont";
  src: url("../fonts/IcoMoon-Free.ttf");
}

.javis {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    font-family: Helvetica, sans-serif;
}

.javis .version {
    color: grey;
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 0.7em;
}

.javis .javis_settings {
	background: rgba(0,0,0,0.5);
	color: white;
    width: 20% ;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    height: 100%;
    max-height: 100%;
	overflow-x: hidden;
    overflow-y: auto;
	overflow-wrap: break-word;
    transition: margin 0.5s ease 0s;	
}

.javis[settings-state="show"] .javis_settings {
    position: absolute;
    margin-right: 0;
	min-width: 300px;
}

.javis[settings-state="out"] .javis_settings {
    position: fixed;
    margin-right: -20%;
}

.javis[settings-state="hide"] .javis_settings {
    position: fixed;
    margin-right: -20%;
}

.javis[settings-state="in"] .javis_settings {
    position: fixed;
    margin-right: 0;
	min-width: 300px;
}

.javis .javis_settings_buttons_container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0!important;
}

.javis .javis_settings_icon {
	cursor: pointer;
	padding: 0.8em;
}

.javis .javis_settings_group {
	margin: 0 4%;
    padding: 4% 0;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 92%;
}

.javis .javis_settings_group:last-of-type {
    border: none;
}

.javis .javis_settings_toggler {
	padding: 0.5em;
    background: #333333;
	color: white;
	cursor: pointer;
}

.javis[settings-state="show"] .javis_settings_toggler:before {
    content: '\ea42';
}

.javis .javis_visualizer {
	background: #dbdbdb;/*linear-gradient(to bottom, #ce486a, #ce4d94);*/
	position: relative;
	width: 100%;
	z-index: 1;
	overflow: hidden;
}

.javis .video {
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	height: 100%;
	z-index: 2
}

.javis canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 3;
}

.javis .inner_holder {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	z-index: 4;
}

.javis .inner {
	width: 400px;
    height: 400px;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 100%;
}

.javis .tags {
	color: #fff;
	text-align: center;
	z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    border-radius: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%) translateY(-50%);
}

.javis[type="linear"] .tags {
    transform: translateX(-50%) translateY(75%);
}

.javis .tags.smashing {
	animation-name: smash;
	animation-duration: 0.1s;
	animation-timing-function: linear;
	animation-iteration-count: 3;
}

.javis .tags > span {
    white-space: nowrap;
    text-align: center;
}

.javis .javis_settings_head {
	position: sticky;
	top: 0;
    border-bottom: 1px solid black;
    background: #6D6D6D;
}

.javis .message_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
	max-height: 10em;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.javis .javis_message {
	font-size: 1.1em;
    line-height: 1.2em;
	color: #222;
    background: #fff;
    padding: 1em 2em;
    margin: 0.5em;
    box-shadow: #b3b3b3 3px 3px 5px 3px;
}

.javis .javis_message p {
    margin: 0 5px 0 0;
    padding: 0;
}


.javis .settings_table {
    display: flex;
    flex-direction: row;
}

.javis .settings_table .left {
    width: 70%;
}

.javis .settings_table .right {
    width: 30%;
}

.javis .settings_table .left > div, .javis .settings_table .right > div {
	height: 1.5em;
    font-size: 0.9em;
}

.javis .settings_table .left > div {
	margin: 0.3em 0.3em 0.3em 0;
}

.javis .settings_table .right > div {
	margin: 0.3em 0 0.3em 0;
}

.javis .settings_table .right input:not([type="checkbox"]) {
	width: 100%;
}

.javis .settings_table .right input[type="checkbox"] {
    margin: 3px 0;
}

.javis .settings_table > input {
    margin: 5px;
}

.javis .javis_control_bar_container {
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1%;
	z-index: 100;
    box-sizing: border-box;
	transition: width 0.5s ease 0s;
}

.javis[settings-state="show"] .javis_control_bar_container, .javis[settings-state="in"] .javis_control_bar_container {
    width: 80%;
}

.javis .javis_control_bar {
	background: #000a;
	position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0.3em 0;
    color: white;
    opacity: 0;
    transition: all 0.3s ease 0s;
}

.javis .javis_control_bar_container.open .javis_control_bar {
    opacity: 1;
}

.javis .javis_control_bar > * {
	z-index: 102;
}

.javis .javis_control_bar .javis_control_bar_entry {
	cursor: pointer;
}

.javis .javis_control_bar_entry_group {
    display: flex;
    flex-direction: column-reverse;
	cursor: pointer;
	position: relative;
}

.javis .entry_group_body {
	display: none;
    position: absolute;
    bottom: calc(100% + 0.3em);
    left: -0.3em;
	background: rgba(51,51,51,0.2);
	padding: 0.3em;
}

.javis .javis_control_bar_entry_group.toggled .entry_group_body {
	display: initial;
}

.javis .javis_control_bar input[type="file"] {
    position: absolute;
    left: -9999999px;
	width: 0;
}

.javis .javis_controls_icon {
    font-size: 150%;    
	line-height: 150%;
	padding: 10px;
}

.javis .javis_control_bar input[type="url"], .javis_control_bar input[type="text"] {
    border: 1px solid grey;
	border-radius: 3px;
	padding: 3px;
}
	
.javis .javis_control_bar:before, .javis_control_bar:after {
	content: ' ';
	position: absolute;
	top: 0;
	width: 3em;
	height: 100%;
	z-index: 101;
	background: #000a;
}

.javis .javis_control_bar:before {
	left: -3em;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
}

.javis .javis_control_bar:after {
	right: -3em;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}

.javis .javis_control_bar_group {
    display: flex;
    flex-direction: row;
}

.javis .javis_control_bar_group:not(:last-of-type) {
    border-right: 2px solid #fff;
}

.javis .javis_control_bar_group:last-of-type {
    margin-right: -2em;
}

.javis .javis_control_bar_group:first-of-type {
    margin-left: -2em;
}
	
/* DIALOG */

.javis .javis_dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255,255,255,0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.javis .javis_dialog > div {
    background: #fff;
    color: black;
    padding: 2%;
    box-shadow: 0 0 5px grey;
    position: relative;
    max-width: 95%;
    box-sizing: border-box;
}

.javis .javis_dialog_row {
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
}

.javis .javis_dialog_row:not(last-of-type) {
	margin-bottom: 2em;
}

.javis .javis_dialog_row label {
    margin-right: 1em;
}

.javis .javis_dialog_row input {
    margin-right: 1em;
}

.javis .javis_dialog_close {
    color: black;
    padding: 0.4em;
    border-radius: 100%;
    line-height: 1em;
    font-size: 1em;
    text-align: center;
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
    transition: all 0.3s ease 0.1s;
}

.javis .javis_dialog_close:hover {
    color: #7cb4d0;
}

.javis .javis_dialog_description {
    margin: 0 0 0 1em;
    color: grey;
    font-style: italic;
}

.javis .javis_button {
    padding: 0.5em 1em;
    background: #53839a;
    border-radius: 3px;
    color: black;
	transition: all 0.3s ease 0.1s;
	cursor: pointer;
}

.javis .javis_button:hover {
	background: #7cb4d0;
}

.javis .javis_control_bar [connect-state="pending"] {
    color: yellow;
}

.javis .javis_control_bar [connect-state="success"] {
    color: green;
}

.javis .javis_control_bar [connect-state="fail"] {
    color: red;
}

/* icons */

.javis [class*="javis_icon"]:before {
	font-family: iconfont;
}

.javis .javis_icon_audio_file:before {
	content: "\e928";
}

.javis .javis_icon_record:before {
	content: "\e91e";
}

.javis .javis_icon_url:before {
	content: "\ea7d";
}

.javis .javis_icon_connect:before {
	content: "\e9cb";
}

.javis .javis_icon_play_pause:before {
	content: "\ea1d";
}

.javis[play-state="paused"] .javis_icon_play_pause:before {
	content: "\ea1c";
}

.javis[play-state="recording"] .javis_icon_play_pause:before, .javis[play-state="stopped"] .javis_icon_play_pause:before, .javis[play-state="init"] .javis_icon_play_pause:before {
	color: grey;
	cursor: not-allowed;
}

.javis .javis_icon_restart:before {
	content: "\e984";
}

.javis[play-state="init"] .javis_icon_restart:before {
	color: grey;
	cursor: not-allowed;
}

.javis .javis_icon_background_image:before {
	content: "\e90d";
}

.javis .javis_icon_background_color:before {
    content: "\e989";
}

.javis .javis_icon_inner:before {
	content: "\ea56";
}

.javis .javis_icon_noinner:before {
	content: "\ea0e";
}

.javis .javis_icon_settings:before {
    content: "\e993";
}

.javis .javis_icon_paint:before {
	content: "\e90c";
}

.javis .javis_icon_lines:before {
	content: "\e99c";
}

.javis .javis_icon_max:before {
    content: "\e99d";
}

.javis .javis_icon_presets:before {
	content: "\e997";
}

.javis .javis_icon_preset_linear:before {
    content: "\ea77";
}

.javis .javis_icon_preset_lines:before {
	content: "\e9d4";
}

.javis .javis_icon_preset_graph:before {
	content: "\e983";
}

.javis .javis_icon_preset_graph_and_lines:before {
	content: "\e99c";
}

.javis .javis_icon_update:before {
	content: "\e962";
}

.javis .javis_icon_reset:before {
	content: "\e94d";
}

.javis .javis_icon_save:before {
	content: "\e960";
}

.javis .javis_icon_load:before {
	content: "\e961";
}

.javis .javis_icon_help:before {
    content: "\ea09";
}

.javis .javis_settings_toggler:before {
    content: '\ea44';
    font-family: iconfont;
    margin-right: 1em;
}

.javis .javis_control_bar_helper:before {
    content: "\ea3e";
    font-family: iconfont;
}

.javis .javis_dialog_close::after {
    content: '\ea0d';
    font-family: iconfont;
}

.javis .connecting_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000a;
    color: #fff;
    font-size: 2em;
    border-radius: 1000000px;
    padding: 20px 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    transition: all 0.5s ease 0s;
}

.javis .connecting_info.success {
    background: #0a0a;
}

.javis .connecting_info.fail {
    background: #a00a;
}

/* standalone icons */

.javis.javis_standalone .javis_icon_audio_file:before {
    content: "\1F4C1";
}

.javis.javis_standalone .javis_icon_record:before {
    content: "\1F3A4";
}

.javis.javis_standalone .javis_icon_url:before {
    content: "URL";
}

.javis.javis_standalone .javis_icon_connect:before {
    content: "\1F517";
}

.javis.javis_standalone .javis_icon_play_pause:before {
    content: "\1F892";
}

.javis.javis_standalone[play-state="paused"] .javis_icon_play_pause:before {
    content: "\23F8";
}

.javis.javis_standalone .javis_icon_restart:before {
    content: "\21BB";
}

.javis.javis_standalone .javis_icon_background_image:before {
    content: "\1F5BC";
}

.javis.javis_standalone .javis_icon_background_color:before {
    content: "\1F4A7";
}

.javis.javis_standalone .javis_icon_inner:before {
    content: "\29BE";
}

.javis.javis_standalone .javis_icon_noinner:before {
    content: "\29B8";
}

.javis.javis_standalone .javis_icon_settings:before {
    content: "\1F527";
}

.javis.javis_standalone .javis_icon_paint:before {
    content: "\1F58C";
}

.javisjavis_standalone .javis_icon_lines:before {
    content: "\269E";
}

.javis.javis_standalone .javis_icon_max:before {
    content: "max";
}

.javis.javis_standalone .javis_icon_presets:before {
    content: "\1F589";
}

.javis.javis_standalone .javis_icon_preset_lines:before {
    content: "\269E";
}

.javis.javis_standalone .javis_icon_preset_graph:before {
    content: "O";
}

.javis.javis_standalone .javis_icon_preset_graph_small:before {
    content: "o";
}

.javis.javis_standalone .javis_icon_preset_graph_and_lines:before {
    content: "\2243";
}

.javis.javis_standalone .javis_icon_update:before {
    content: "\1F5D8";
}

.javis.javis_standalone .javis_icon_reset:before {
    content: "\e94d";
}

.javis.javis_standalone .javis_icon_save:before {
    content: "\1F4E5";
}

.javis.javis_standalone .javis_icon_load:before {
    content: "\1F4E4";
}

.javis.javis_standalone .javis_icon_help:before {
    content: "?";
}

.javis.javis_standalone.javis .javis_settings_toggler:before {
    content: '\1F890';
}

.javis.javis_standalone .javis_control_bar_helper:before {
    content: "\2193";
}

.javis.javis_standalone .javis_dialog_close::after {
    content: '\2BBE';
}


/* animations */
	
@keyframes smash {
	0% {
		transform: translateX(-50%) translateY(-50%);/* scale(1);*/
	}

	50% {
		transform: translateX(-50.5%) translateY(-50%);/* scale(1.001);*/
	}
}

@keyframes dots {
	0% {
		width: 0.2em;
	}

	100% {
		width: 1.2em;
	}
}

@keyframes jump {
    0% {
        bottom: 0.5em;
    }

    50% {
        bottom: 1em;
    }

    100% {
        bottom: 0.5em;
    }
}

@keyframes jump_left {
    0% {
        margin-left: 0em;
    }

    50% {
        margin-left: 0.5em;
    }

    100% {
        margin-left: 0em;
    }
}

/* media queries */
@media (max-width: 1000px) {

    .javis .javis_settings {
        font-size: 0.6em;
        background: rgba(0,0,0,0.9);
    }

    .javis[settings-state="show"] .javis_settings {
        min-width: 100vw;
    }

    .javis[settings-state="in"] .javis_settings {
        min-width: 100vw;
    }

    .javis .settings_table .left > div, .javis .settings_table .right > div {
        height: 3.0em;
    }

    .javis .javis_dialog > div {
        padding: 1em;
    }
}

@media (max-width: 1000px ) and (orientation: portrait) {
    .javis .javis_control_bar_container {
        bottom: unset;
        top: 0;
        width: 7%;
        min-width: 100px;
        height: 100%;
        flex-direction: column;
    }
    
    .javis .javis_control_bar_helper {
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
        animation-name: jump_left;
        font-size: 1.5em;
        left: 0.5em;
    }

    .javis .javis_control_bar {
        flex-direction: column;
        padding: 0 0.3em;
    }

    .javis .javis_control_bar select {
        position: absolute;
    }

    .javis .javis_control_bar_group {
        flex-direction: column;
        margin: 0;
    }

    .javis .javis_control_bar:before, .javis .javis_control_bar:after {
        content: ' ';
        position: absolute;
        left: 0;
        width: 100%;
        height: 3em;
        z-index: 101;
        background: rgba(51,51,51,0.2);
    }

    .javis .javis_control_bar:before {
        top: -3em;
        bottom: unset;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
        border-bottom-left-radius: unset;
    }

    .javis .javis_control_bar:after {
        top: unset;
        bottom: -3em;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        border-top-right-radius: unset;     
    }

    .javis .javis_control_bar_group:last-of-type {
        margin-bottom: -2em;
    }

    .javis .javis_control_bar_group:first-of-type {
        margin-top: -2em;
        margin-left: unset;
    }

    .javis .javis_control_bar_entry_group.toggled .entry_group_body {
        bottom: unset;
        left: calc(100% + 0.3em);
        top: -0.3em;
        display: flex;
        flex-direction: row;
    }
}